@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    font-size: 1rem;
    background-image: linear-gradient(to right, #e22865, #37acad);

}
.main-container{
    width: 95%;
    /* background-color: rgb(153, 153, 153); */
    margin: auto;
    /* border: 1px solid black; */
}
.container1{
    margin-left: 5%;
    margin-top: 20px;

}
.container2{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 5%;

    
}
.container3{
    display: none;
    position: absolute;
    top: 26%;
    left: 40%;

}
textarea{
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.75);
    outline: none;
    border: none;
    width: 275px;
    height: 275px;
    padding: 40px 25px 25px 25px;
}
svg{
    color: gray;

}
#check-icon{
    position: absolute;
    right: 17%;
    top: 4%;

}
#x-icon{
    position: absolute;
    right: 5%;
    top: 4%;
}